body {
    background: pink;
}
.form-check-label {
    color: #6f6969;
}

input {
    margin: 0px auto;
    text-align: center;
    max-width: 50%;
}
.btn {
    display: block;
    margin: 5px auto;
    /* background: magenta; */
}

#todoList {
    padding: 0 5%;
}

label {
    font-size: 20px;
}

.page-header, #heading {
    margin-top: 0px;
    padding-top: 10px;
    background: darkgray;
}